<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>Agregar Nueva Unidad</h3>
    </div>
    <div class="card-body">
      <form action="/unidades/agregar" method="POST">
          <div class="mb-3">
            <label for="numero">Ingrese el Numero:</label>
            <br />
            <input  type="text" name="numero" placeholder="Numero" class="form-control" value="{{numero}}"  id="numero"/>
          </div>

          <div class="mb-3">
            <label for="marca">Marca:</label>
            <br />
            <input type="text"  name="marca" placeholder="Marca" class="form-control" value="{{marca}}" id="marca" />
          </div>

          <div class="mb-3">
            <label for="propocito">Propocito:</label>
            <br />
            <input type="text"  name="propocito" placeholder="Propocito" class="form-control" value="{{propocito}}" id="propocito" />
          </div>

          <div class="mb-3">
            <label for="km">KM:</label>
            <br />
            <input type="text" name="km" placeholder="km" class="form-control" value="{{km}}" id="km" />
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Agregar</button>

            <a href="/Bomberos" class="btn btn-primary">Volver</a>
          </div>
      </form>
    </div>
  </div>
</div>