<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Bitacora Bomberos San Francisco.</h1>
  <p class="lead">Programa desarrolado para el control de Unidades y personal de la institucion, creado 
    con el fin de tener un mejor orden a la hora de usar los recursos.
    Ademas permite generar reportes por dia de la actividad del cuartel.
  </p>
  <hr class="my-4" />
  <p>Seccion donde se brinda la ayuda del manejo del Programa Bitacora Bomberos.
  </p>
  <hr class="my-4" />
  <p>Programa desarrolado y mantenido por: Bruna Matias, matias.b.dev@gmail.com .
  </p>
  <p>Github: https://github.com/matiasbruna/Bomberos_-Bitacora</p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/"
      role="button"
    >Volver</a>
  </div>
</div>