<div class="container mt-4">
  <div class="card card.body p-4 rounded-0 bg-dark text-white">
    <h1>Ingresa Bombero nuevo</h1>
    <form action="bomberos/agregar" method="post">
      
      <label for="nombre">Ingrese el nombre:</label>
      <br />
      <input  type="text" name="nombre" placeholder="Nombre"  id="nombre"/>
      <br />
      <label for="apellido">Ingrese el apellido:</label>
      <br />
      <input type="text" class="mx-auto" name="apellido" placeholder="Apellido" id="apellido" />
      <br />
      <label for="dni">DNI:</label>
      <br />
      <input type="text" class="mx-auto" name="dni" placeholder="DNI" id="dni" />
      <br />
      <label for="nOrden">Numero de orden:</label>
      <br />
      <input type="text" name="nOrden" placeholder="N de Orden" id="nOrden" />
      <br />
      <label for="rango">Rango</label>
      <br />
      <input type="text" name="rango" placeholder="Rango" id="rango" />
      <br />
       <div class="container mt-2 mb-2">
        <button class="btn btn-primary">agregar</button>
        <a href="/Bomberos" class="btn btn-primary">Volver</a>
       </div>
      
    </form>
  </div>
  
</div>