<div class="container text-white bg-dark mt-4">
  <br />
  <h1>Formulario de Entrada de Datos</h1>
  <form
    action="novedades/agregar"
    method="post"
  >
    <br />
    <label for="bombero">Bombero</label>
    <br/>
    </form>
    <select name="bombero" id="bombero">
        {{#each bombero}}
            <option value="{{this.nombre}}, {{this.apellido}}">{{this.nombre}}, {{this.apellido}}</option>
        {{/each}}
    </select>
    <br/>

    <label for="descripcion">Descripcion:</label>
    <br/>
    <textarea name="descripcion" placeholder="descripcion" id="descripcion"  rows="10" cols="50" ></textarea>
    <div class="container mt-4 mb-4">
      <button class="btn btn-primary">agregar</button>
     <a href="/novedades" class="btn btn-primary">Volver</a>

    </div>

    
  </form>
</div>