<div class="container text-black">
  <h1>Formulario de Entrada de Datos</h1>
  <form
    action="unidades/agregar"
    method="post"
    class="w-25 mx-auto border border-dark rounded"
  >
    <br />
    <label for="numero">Numero:</label>
    <input type="text" name="numero" placeholder="Numero" id="numero" />

    <br />
    <label for="marca">Marca</label>
    <input type="text" name="marca" placeholder="Marca" id="marca" />

    <br />
    <label for="propocito">Numero de orden:</label>
    <input type="text" name="propocito" placeholder="propocito" id="propocito" />

    <button class="btn btn-primary">agregar</button>
    <a href="/unidades" class="btn btn-primary">Volver</a>
  </form>
</div>