<div class="container mt-4">
    <h1>Listado de Novedades</h1>
    </br>
    <div>
        <a href="/novedadesAdd" class="btn btn-primary">Agregar nueva Novedad</a>
    </div>
    </br>

  <div class="table-responsive">
    <table class="table  table-hover table-sm table-light">
      <thead>
        <tr>
          <th>Num</th>
          <th>Despachador</th>
          <th>Fecha</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        {{#each novedad}}
          <tr>
            <td>{{@index}}</td>
            <td>{{this.bombero}}</td>
            <td>{{this.createdAt}}</td> 
            <td>
             <a href="/novedades/ver/{{this._id}}" class="btn btn-info" >Ver</a>
            </td>   
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>