<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Bitacora Bomberos San Francisco</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span></a>
        </li>
  

      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if User}}
         <li class="nav-item">
          <a class="nav-link" href="#">{{User}}</a>
        </li>
        
        {{else}}
         <li class="nav-item">
          <a class="nav-link" href="/login">LogIn</a>
        </li>
        {{/if}}
       
        
        {{#if User}}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Movimientos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/bomberos">Bomberos</a></li>
            <li><a class="dropdown-item" href="/Unidades">Unidades</a></li>
            <li><a class="dropdown-item" href="/novedades">Novedades</a></li>
            <li><a class="dropdown-item" href="/movimientos">Movimienos Unidades</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/acercaDe">Acerca de..</a></li>
            <li><a class="dropdown-item" href="/logOut">LogOut</a></li>
          </ul>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>